# CryptoWallet WebUSB (VID 0x1209, PID 0xC0DE)
# Copy to /etc/udev/rules.d/ and run: sudo udevadm control --reload-rules
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="c0de", MODE="0666", GROUP="plugdev"
